
.bodyStyle{
    padding-left: 2rem;
    padding-right: 2rem;
}

#login, #loggedin {
    display: none;
  }
  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
  }

#cookieConsentContainer {
    background-color: lightgray;
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:5rem;
    border-bottom: 1px solid lightgray;
    align-items: center;
    margin-top: .5rem;
}

.spotifybtn{
    color: #fff;
    background-color:#1DB954 ;
    padding:1rem;
    border-radius: 5px;
    text-decoration:none;
}
.spotifybtn a {
    color: #fff ;
    text-decoration:none;
}

.spotifybtn :hover{
    background-color:#199745 ;
}

.loggedin{
    display: flex !important;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.headerTitle{
    color: #c902b9;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Plaster', cursive;
    /* padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem; */
}

.filterRow{
    display:flex;
    flex-direction: row;
    align-items: start;
    column-gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.filterRow input {
    width: 100%;
}

.submitSearchButton{
    background-color: #c902b9;
    color: #fff;
    padding: 0px 8px;
    font-weight: 600;
}

.genreInput{
    min-width: 20rem;
}

.results{
    width:100%;
    margin-top: 2rem;
    display:flex;
    flex-direction: row;
}

.genreInput span{
    width:100% !important;
}

/* ---------ARTISTS TABLE ------------- */
.resTable{
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    border:1px solid lightgray;
}

.resTable thead tr {
    padding:.5rem;
    background-color: #ececec;
    color: #000000;
    text-align: left;
    font-size: 16px;
}
.resTable thead tr th {
    padding: 10px 14px;
}
.resTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.resTable tbody tr:hover:nth-child(1) {
    
    background-color: #f3f3f3;
}

.resTable tbody th {
    padding: 10px 14px;
    text-align: left;
}

.resTable tbody tr td {
    padding: 10px 14px;
    text-align: left;
}

.hidden_row {
    display: none;
}

.show_row {
    /* display: block; */
    width:100%
}
.show_row :hover {
    background-color: #fff;
}
/* ---------------------- */

.resultHeader{
    font-size: 20px;
    font-weight: 500;
}

.mapConcerts{
    display:flex;
}


.concerts{
    margin-left:2rem;
    height:60vh;
    width:40%;
    /* overflow-y: scroll; */
}

.concertTableHeader{
    height:10%;
    width: 100%;
}

.concertTable{
    height:90%;
    width:100%;
    overflow-y: scroll;
}

.eventsTable{
    width:100%;
}

.eventsTable tr:hover{
    background-color: #f3f3f3;
}

.map {
    height:60vh;
    /* position: relative;
    overflow: visible !important; */
    width:70%
}

#legend {
    font-family: Arial, sans-serif;
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: 3px solid #000;
    height: 15vh;
    width: 10%
}


#suggestedArtists {
    margin: 3rem auto;
    font-weight: bold;
}

.suggestedArtist {
    padding: 1rem;
    font-weight: normal;
}

.suggestedArtist:hover {
    cursor: pointer;
    padding: 1.5rem;
}

#selectedArtists {
    padding: 1rem;
    height: 5rem;
    width: 20rem;
    overflow-y: scroll;
    position: absolute;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

#selectedArtists::-webkit-scrollbar {
    display: none;
}

.selectedArtist {
    background-color: #efefef;
    padding: 1rem;
}

.selectedArtist:hover {
    background-color: #cecece;
    cursor: pointer;
}

.nolabel{
    visibility: hidden;
}

.tabs{
    margin-top: 4rem;
    margin-bottom: 2rem;
}

/* Style the tab */
/* https://www.w3schools.com/howto/howto_js_tabs.asps */
.tab {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    cursor: pointer;
}
  
  /* Style the buttons that are used to open the tab content */
  .tablinks{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px 5px 14px;
    transition: 0.3s;
    border: 1px solid #acacac;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    font-weight: 500;
  }
  
  /* Change background color of buttons on hover */
  .tablinks:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tablinks.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #acacac;
    /* border-top: none; */
    border-radius: 0px 5px 5px 5px;
    height: 15rem;
  }

  .spotifyContent{
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
  }

  .col2container {
    column-count: 2;
    column-gap: 5px;
}